In [1]:
import camelot as cm

In [3]:
input_pdf = cm.read_pdf("PDF\india_factsheet_economic_n_hdi.pdf",flavor="lattice",pages="1,2")

In [ ]:
input_pdf

In [ ]:
for n in input_pdf:
    print(n)

In [ ]:
input_pdf[2].df

In [11]:
df = input_pdf[2].df.loc[11:13,1:3]

In [ ]:
df

In [ ]:
df.reset_index(drop=True)

In [14]:
df.columns = ["Kpi","2001","2011"]

In [15]:
df

                         Kpi  2001   2011
11         Literacy Rate (%)  64.8  74.04
12    Male Literacy Rate (%)  75.3  82.14
13  Female Literacy Rate (%)  53.7  65.46

In [16]:
df.loc[:,['2001','2011']] = df.loc[:,['2001','2011']].astype(float)

In [ ]:
df

In [32]:
df.to_csv('pdf_output.csv')

In [33]:
df.to_excel('pdf_excel.xlsx')

In [25]:
import pandas as pd

In [ ]:
df2 = pd.read_csv('pdf_output.csv')
df2

In [18]:
import seaborn as sns

In [19]:
df_melted = df.melt('Kpi', var_name='year',value_name='percentage')

In [20]:
df_melted

                        Kpi  year percentage
0         Literacy Rate (%)  2001       64.8
1    Male Literacy Rate (%)  2001       75.3
2  Female Literacy Rate (%)  2001       53.7
3         Literacy Rate (%)  2011      74.04
4    Male Literacy Rate (%)  2011      82.14
5  Female Literacy Rate (%)  2011      65.46

In [ ]:
sns.barplot(x='Kpi',y='percentage',hue='year',data=df_melted)